/Submarine.xcodeproj/xcuserdata/andreigusev.xcuserdatad/xcschemes/xcschememanagement.plist
/Submarine.xcodeproj/xcuserdata/andreigusev.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Submarine.xcodeproj/xcshareddata/xcschemes/Submarine.xcscheme
/Submarine.xcodeproj/project.xcworkspace/xcuserdata/andreigusev.xcuserdatad/UserInterfaceState.xcuserstate
/Submarine.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Submarine.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Submarine.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Submarine.xcworkspace/xcuserdata/andreigusev.xcuserdatad/UserInterfaceState.xcuserstate
